.textbox-custom {
  top: 97%;
  width: 95%;
  left: 50%;
}

.message-custom {
  max-height: 1000px;
  overflow-y: auto;
}

.divider {
  border-top: 2px solid #0000;
  opacity: 1;
  background-color: #000000;
  margin: 0px 1% 0px 1%;
  border-radius: 5px;
}

.container-custom {
  max-height: 10000000%;
  position: absolute;
  height: 93%;
  overflow-y: auto;
  width: 99%;
  top: 47%;
  left: 50%;
}

.container-custom::-webkit-scrollbar {
  width: 1em;
}

.container-custom::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.container-custom::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.custom2 {
  left: 50%;
  top: 50%;
  width: 90%;
  height: 90%;
  max-height: 100%;
}